@page "/"
@using Microsoft.Maui.Controls.Platform
@using SmartHub.Converters
@using SmartHub.ViewModels
@using SharedResources.Models
@using System.Globalization
@inject HomeVM viewModel

<div class="container">
    <div class="devices scrollable-container">
        @if (Devices != null)
        {
            foreach (var device in Devices)
            {
                <div class="container">
                    <div id="@device!.DeviceId" class="device @(device.DeviceState ? "active" : null)">
                        <div class="body device-container">
                            <div class="flex-item device-head">
                                <i class="@GetIconClass(device.DeviceType!) @GetDeviceCssClass(device)
                                    @(device.DeviceState && device.DeviceType!.ToLower() == "fan" ? " spin" : "")"></i>
                                <div class="device-name">@device.DeviceName</div>
                                <div class="state">@(device.ConnectionState ? "Connected" : "Disconnected")</div>
                                <div class="device-state">@(device.DeviceState ? "On" : "Off")</div>
                            </div>




                        </div>
                        <footer>

                            <div class="button-container">
                                <div>
                                    <button class="no-background" @onclick="() => viewModel.NavigateToSettings(device)">
                                        <i class="fa-sharp fa-light fa-gear btn-close-white"></i>
                                    </button>
                                </div>

                                <div>
                                    <label class="switch">
                                        <InputCheckbox @bind-Value="device.DeviceState"
                                                       @onclick="() => viewModel.OnDeviceStateChanged(device)"
                                                       disabled="@(device.ConnectionState == false)" />
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div>
                                    <button @onclick="() => ShowConfirmation(device)" class="no-background trash-button"><i class="fa-light fa-trash"></i></button>
                                </div>

                               

                            </div>


                        </footer>
                    </div>
                </div>
            }
            
        }
        else
        {
            <div class="preloader">
                <i class="fa-solid fa-spinner-third fa-spin"></i>
            </div>
        }

        @if (!string.IsNullOrEmpty(viewModel.ResponseMessage))
        {
            <p>@viewModel.ResponseMessage</p>
        }

      

    </div>
    <div>
        <SmartHub.Components.PopupComponent.ConfirmationPopup ShowPopup="@showConfirmationPopUp"
                                                      Title="Delete Device"
                                                      Message="Are you sure you want to delete this device?"
                                                      OnClose="OnDeleteConfirmation" />
    </div>
   

</div>





@code {
    private bool showConfirmationPopUp = false;
    private SmartDeviceModel? deviceToDelete;
    private IEnumerable<SmartDeviceModel> Devices = Array.Empty<SmartDeviceModel>();

    protected override async Task OnInitializedAsync()
    {
        Devices = await viewModel.GetDevicesAsync();
        viewModel.Timer = new Timer(async _ => await SetDevicesAsync(), null, 0, viewModel.TimerInterval);
    }

    private async Task SetDevicesAsync()
    {
        Devices = await viewModel.GetDevicesAsync();
        await InvokeAsync(StateHasChanged);
    }

    private DeviceTypeConverter iconConverter = new DeviceTypeConverter();

    private string GetIconClass(string deviceType)
    {
        return (string)iconConverter.Convert(deviceType!, typeof(string), null, CultureInfo.InvariantCulture)!;
    }

    private string GetDeviceCssClass(SmartDeviceModel device)
    {
        var cssClass = device.DeviceType!.ToLower() switch
        {
            "light" => "icon-light",
            "fan" => "icon-fan",
            "temp" => "icon-temp",
            _ => "icon-default"
        };

        cssClass += " no-background";

        if (device.DeviceState)
        {
            cssClass += device.DeviceType.ToLower() switch
            {
                "fan" => " spin",
                "light" => " pulse",
                "temp" => " temp-pulse",
                _ => ""
            };
        }

        return cssClass;
    }

    private void ShowConfirmation(SmartDeviceModel device)
    {
        deviceToDelete = device;
        showConfirmationPopUp = true;
    }

    private async Task OnDeleteConfirmation(bool confirmed)
    {
        showConfirmationPopUp = false;

        if (confirmed && deviceToDelete != null)
        {
            await viewModel.DeleteDeviceAsync(deviceToDelete);
        }
    }

}



